<script>
gnarus.returnUri = '<%=@attempt.return_uri%>';
<%= @attempt.exercise.content.html_safe %>
</script>
<div id="rpg">
	<div id="rpg_text">Loading...</div>
	<div><ol id="rpg_options"></ol></div>
</div>

<form id="exercise" method="POST" action="<%= exercise_attempt_executions_url(@attempt.exercise, @attempt)%>">
</form>